<!doctype html>
<html>
<head>
<meta charset='utf-8'>
<title>{% block title %}{% endblock %}</title>
<link rel='stylesheet' type='text/css' href='/static/css/flat-ui.min.css'>
<script src='/static/js/jQuery.min.js'></script>
<script src='/static/js/flat-ui.min.js'></script>
<script src='/static/js/Chart.js'></script>
{% block head %}{% endblock %}
</head>
<body style="margin-top: 0px;margin-left: 0px;margin-right: 0px; background-image: url(../static/images/pattern.png), url(../static/images/world.jpg);">
    <header>
        <nav class='navbar navbar-inverse navbar-embossed' role='navigation' style='margin-bottom:0px;background-color:black'>
            <div class='navbar-header' style="margin-top: 14px;">
                <a class='navbar-brand' style="padding-left: 45px;" href='/'>日志分析</a>
            </div>
    </header>
<div class='main-width'>{% block body %}{% endblock %}</div>

