<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/flat-ui.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/flat-ui.min.js"></script>
  <script src="/static/js/Chart.js"></script>
  <style>
      body{
          margin-top: 0px;
          margin-left: 0px;
          margin-right: 0px;
          background-size: cover;
          background-image: url(../static/images/world.jpg);
      }
      .navbar-inverse{
          margin-bottom: 0px;
          background-color: black;
      }
      .navbar-header{
          margin-top: 14px;
      }
      .navbar-brand{
          padding-left: 45px;
      }
  </style>
{% block head %}{% endblock %}
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href='/'>日志分析</a>
      </div>
    </nav>
  </header>
  <div class="main-width">{% block body %}{% endblock %}</div>

