<html>
<head>
<script src="../static/js/Chart.js"></script>
<script src="../static/js/jQuery.min.js"></script>   
<script src="../static/js/flat-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/flat-ui.min.css">
</head>
<body style="margin-top: 0px;margin-left: 0px;margin-right: 0px;">
  <header style='padding-left: 0px;
                 padding-right: 0px;
                 padding-bottom: 0px;
                 padding-top: 0px;'>
    <nav class='navbar navbar-inverse navbar-embossed' role='navigation' style='margin-bottom:0px;'>
      <div class='navbar-header' style="margin-top: 13px;">
      <a class='navbar-brand' style="padding-left: 45px;" href='/'>日志分析</a>
    </div>
  </header>
  <canvas id="canvas"></canvas>
  <form action="" method="POST">
    <div class="input-group" style="text-align:center">
      <span class="input-group-addon">输入</span>
      <input type="text" name='dates' class="form-control" placeholder="格式：name-entrypoint-date  如：odan-web-macvlan-2015-08-22" id='1' style='width: 480px;'/>
    <button id='count' type="button" class='btn btn-primary'>开始绘图</button>
    </div>
  </form>
<script>
$('#count').click(function(){
    var date_value = $("#1").val();
    var a;
    var b;
    $.get("/request/data/" + date_value, function(data){
        a = data;
    });
    $.ajax({
        type: "GET",
        async: false, //同步执行
        url: "/request/data/"+date_value,
        dataType: 'json',
        success: function(result){
        a=result
        }
    });

    $.ajax({
        type: "GET",
        async: false, //同步执行
        url: "/request/numbers/"+date_value,
        dataType: 'json',
        success: function(result){
        b=result
        }
    });

    var lineChartData = {
        labels : a,
        datasets : [
            {
                label: "QPS",
                fillColor : "rgba(127,255,212,0.2)",
                strokeColor : "rgba(0,100,0,1)",
                pointColor : "rgba(0,100,0,1)",
                pointStrokeColor : "#bbb",
                pointHighlightFill : "#bbb",
                pointHighlightStroke : "rgba(0,0,0,1)",
                data : b
            },
        ]
    } 
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myLine = new Chart(ctx).Line(lineChartData, {
        responsive: true
    });
});
</script>
</body>
</html>

